---
layout: page
title: Time is always silent and it takes time for flowers to bloom . Must be patient .
permalink: /embedded/index.html
first-level-classification: embedded
twice-level-classification: [combine,uboot,kernel,buildroot,others]
---

<!-- Posts Index
================================================== -->
<section class="recent-posts">

 <div class="section-title">

  <h2><a class="nav-link" href="{{ site.baseurl }}/embedded/combine/index.html"><span>Combine</span></a></h2>

 </div>

  <div class="row listrecent">
   {% assign posts=site.posts | where:"twice-level-classification",page.twice-level-classification[0] %}
   {% for post in posts reversed %}
   {% if post.top-twice == true %}

    {% include postbox.html %}

   {% endif %}
   {% endfor %}

  </div>

</section>
<section class="recent-posts">

 <div class="section-title">

  <h2><a class="nav-link" href="{{ site.baseurl }}/embedded/uboot/index.html"><span>Uboot</span></a></h2>

 </div>

  <div class="row listrecent">
   {% assign posts=site.posts | where:"twice-level-classification",page.twice-level-classification[1] %}
   {% for post in posts reversed %}
   {% if post.top-twice == true %}

    {% include postbox.html %}

   {% endif %}
   {% endfor %}

  </div>

</section>
<section class="recent-posts">

 <div class="section-title">

  <h2><a class="nav-link" href="{{ site.baseurl }}/embedded/kernel/index.html"><span>Kernel</span></a></h2>

 </div>

  <div class="row listrecent">
   {% assign posts=site.posts | where:"twice-level-classification",page.twice-level-classification[2] %}
   {% for post in posts reversed %}
   {% if post.top-twice == true %}

    {% include postbox.html %}

   {% endif %}
   {% endfor %}

  </div>

</section>
<section class="recent-posts">

 <div class="section-title">

  <h2><a class="nav-link" href="{{ site.baseurl }}/embedded/buildroot/index.html"><span>Buildroot</span></a></h2>

 </div>

  <div class="row listrecent">
   {% assign posts=site.posts | where:"twice-level-classification",page.twice-level-classification[3] %}
   {% for post in posts reversed %}
   {% if post.top-twice == true %}

    {% include postbox.html %}

   {% endif %}
   {% endfor %}

  </div>

</section>
<section class="recent-posts">

 <div class="section-title">

  <h2><a class="nav-link" href="{{ site.baseurl }}/embedded/others/index.html"><span>others</span></a></h2>

 </div>

  <div class="row listrecent">
   {% assign posts=site.posts | where:"twice-level-classification",page.twice-level-classification[4] %}
   {% for post in posts reversed %}
   {% if post.top-twice == true %}

    {% include postbox.html %}

   {% endif %}
   {% endfor %}

  </div>
</section>
