---
layout: page
title: Time is always silent and it takes time for flowers to bloom . Must be patient .
permalink: /linux/index.html
first-level-classification: linux
twice-level-classification: [ubuntu,development,shell]
---

<!-- Posts Index
================================================== -->
<section class="recent-posts">

 <div class="section-title">

  <h2><a class="nav-link" href="{{ site.baseurl }}/linux/basic-linux/index.html"><span>basic-linux</span></a></h2>

 </div>

  <div class="row listrecent">
   {% assign posts=site.posts | where:"twice-level-classification",page.twice-level-classification[0] %}
   {% for post in posts reversed %}
   {% if post.top-twice == true %}

    {% include postbox.html %}

   {% endif %}
   {% endfor %}

  </div>

</section>

<section class="recent-posts">

 <div class="section-title">

  <h2><a class="nav-link" href="{{ site.baseurl }}/linux/ubuntu/index.html"><span>Ubuntu</span></a></h2>

 </div>

  <div class="row listrecent">
   {% assign posts=site.posts | where:"twice-level-classification",page.twice-level-classification[0] %}
   {% for post in posts reversed %}
   {% if post.top-twice == true %}

    {% include postbox.html %}

   {% endif %}
   {% endfor %}

  </div>

</section>
<section class="recent-posts">

 <div class="section-title">

  <h2><a class="nav-link" href="{{ site.baseurl }}/linux/development/index.html"><span>Development</span></a></h2>

 </div>

  <div class="row listrecent">
   {% assign posts=site.posts | where:"twice-level-classification",page.twice-level-classification[1] %}
   {% for post in posts reversed %}
   {% if post.top-twice == true %}

    {% include postbox.html %}

   {% endif %}
   {% endfor %}

  </div>

</section>
<section class="recent-posts">

 <div class="section-title">

  <h2><a class="nav-link" href="{{ site.baseurl }}/linux/shell/index.html"><span>Shell</span></a></h2>

 </div>

  <div class="row listrecent">
   {% assign posts=site.posts | where:"twice-level-classification",page.twice-level-classification[2] %}
   {% for post in posts reversed %}
   {% if post.top-twice == true %}

    {% include postbox.html %}

   {% endif %}
   {% endfor %}

  </div>

</section>
